<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>  #2 Formから送信された値を表示してみよう。</h1>
        <form action="messages" method="post">
          <div>
            <label for="content">何かひとこと</label>
            <input type="text" name="content">
          </div>
            <input type="submit">
        </form>
        <div>
            <a href="/">戻る</a>
        </div>
    </body>
</html>
