<html>
    <head>
        <meta charset="UTF-8">
        <title>Sinatraで基礎概念の確認</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
       <h1>Sinatraで基礎概念の確認</h1>    　
    　<div>
    　   <a href="/contact_new"> #2 Formから送信された値を表示してみよう。</a>
    　</div>
    </body>
</html>
